body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f6f9;
}

/* 🔥 SIDEBAR */
.sidebar {
    width: 240px;
    background: rgba(0,0,0,0.25);
    backdrop-filter: blur(12px);
    color: white;
    padding: 20px;
}

.sidebar h2 {
    margin-bottom: 30px;
}

.sidebar a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 10px;
    transition: 0.3s;
}

.sidebar a:hover {
    background: rgba(255,255,255,0.2);
}


.logout {
    display: block;
    margin-top: 40px;
    text-align: center;
    padding: 12px;
    background: crimson;
    color: white;
    text-decoration: none;
    border-radius: 8px;
}

/* MAIN */

.main {
    margin-left: 250px;
    padding: 30px;
}

.main h1 {
    margin-top: 0;
}

/* CARDS */

.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.card {
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.card h3 {
    margin-top: 0;
}

.card button {
    margin-top: 10px;
    padding: 10px 15px;
    border: none;
    background: #4b6cb7;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

.card button:hover {
    background: #182848;
}
.alerta{
background:#ff4d4d;
color:white;
padding:10px;
margin:5px;
border-radius:5px;
}
/* ========================= */
/* GARANTIAS */
/* ========================= */

.estado {
    padding:6px 12px;
    border-radius:20px;
    font-size:13px;
    font-weight:600;
}

.estado-activa{
    background:#d1fae5;
    color:#065f46;
}

.estado-vencida{
    background:#fee2e2;
    color:#991b1b;
}

.estado-proceso{
    background:#fef3c7;
    color:#92400e;
}

.btn-ver{
    background:#10b981;
    color:white;
    padding:6px 12px;
    border-radius:6px;
    text-decoration:none;
}

.btn-ver:hover{
    background:#059669;
}